<div class="login-form">
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
        
        <h2 class="text-center">Registro</h2>
        
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                <div class="error-text" *ngIf="name?.errors?.['required']">* El nombre es obligatorio</div>
            </div>
        </div>

        <div class="form-group">
            <input type="email" class="form-control" placeholder="email" formControlName="email">
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <div class="error-text" *ngIf="email?.errors?.['required']">* El email es obligatorio</div>
                <div class="error-text" *ngIf="email?.errors?.['emailInvalid']">* El email es invalido</div>
            </div>
        </div>
        
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <div class="error-text" *ngIf="password?.errors?.['required']">* La contraseña es obligatoria</div>
                <div class="error-text" *ngIf="password?.errors?.['minlength']">* La contraseña debe de ser a lo menos de 6 caracteres</div>
            </div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirmar Contraseña" formControlName="confirmPassword">
            <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
                <div class="error-text" *ngIf="confirmPassword?.errors?.['required']">* La confirmacion de contraseña es obligatoria</div>
            </div>
            <div *ngIf="registerForm?.invalid && (registerForm?.dirty || registerForm?.touched)">
                <div class="error-text" *ngIf="registerForm?.errors?.['isNotEqualsPassword']">* Las contraseñas no coinciden</div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Registrar
            </button>
        </div>

    </form>
    <p class="text-center">Volver a <a routerLink="/auth/login">Iniciar Sesion</a></p>
</div>